.DS_Store
.idea
*.log
tmp/
*~
*#

config/.config/BraveSoftware/
config/.config/dconf/
config/.config/epiphany/
config/.config/evolution/
config/.config/gedit/
config/.config/gnome-boxes/
config/.config/gnome-session/
config/.config/goa-1.0/
config/.config/gtk-3.0/
config/.config/ibus/
config/.config/nano/
config/.config/nautilus/
config/.config/pule/
config/.config/yelp/
config/.config/nautilus/
config/.config/mimeapps.list
config/.config/user-dirs.dirs
config/.config/user-dirs.locale
